
@{
    ViewBag.Title = "Index";
}

<div class="main-content">

    <div class="panel">

        <div class="panel-body" style="padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
            <div class="well well-sm text-center">
                <h4>Ganancias netas por mes</h4>
                <input type="number" id="gananciasNetasPorMes_year" min="2017" max="2029" value="2018" />
                <input type="button" id="gananciasNetasPorMes" value="Ok" />
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>
</div>

<script>


    $(document).ready(function () {

        var dataPoints = [];
        var gananciasNetasPorMes = createGananciasNetasPorMes();
        
        updateGananciasNetasPorMes();
        $("#gananciasNetasPorMes").click(updateGananciasNetasPorMes);
        function addData(data) {
            gananciasNetasPorMes.destroy();
            for (var i = 0; i < data.length; i++) {
                if (dataPoints.length >= 12) dataPoints = [];
                dataPoints.push({
                    x: new Date(data[i].date),
                    y: data[i].units
                });
            }
            gananciasNetasPorMes = createGananciasNetasPorMes();
            gananciasNetasPorMes.render();
        }
        function updateGananciasNetasPorMes() {
            $.getJSON("estadisticas/GetGananciasNetasPorMes?year=" + $("#gananciasNetasPorMes_year").val(), addData);
        }
        function createGananciasNetasPorMes() {
            return new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                axisY: {
                    title: " $",
                    titleFontSize: 24
                },
                data: [{
                    type: "spline",
                    yValueFormatString: "#,### $",
                    dataPoints: dataPoints
                }]
            });
        }
    });




</script>