
@{
    ViewBag.Title = "Index";
}

<div class="main-content">

    <div class="panel">



        <div class="panel-body" style="padding-left:130px; padding-right:130px; padding-top:10px; padding-bottom:60px">
            <div class="well well-sm text-center">
                <h4>Ganancias netas por mes</h4>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>






    </div>
</div>

<script>


    $(document).ready(function ()
    {

        var gananciasNetasPorMesDataPoints = CreateArray(@Html.Raw(Json.Encode(@ViewBag.gananciasNetasPorMes)));
        var gananciaNetaPorMes = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Ganancias netas por mes"
            },
            axisX: {
                valueFormatString: "MMM,YY"
            },
            axisY: {
                title: "Dinero",
                includeZero: false,
                suffix: " $"
            },
            legend: {
                cursor: "pointer",
                fontSize: 16,
                itemclick: toggleDataSeries
            },
            toolTip: {
                shared: true
            },
            data: [{
                type: "spline",
                yValueFormatString: "#0.##",
                showInLegend: true,
                dataPoints: gananciasNetasPorMesDataPoints
            }]
        });

        gananciaNetaPorMes.render();

        function toggleDataSeries(e)
        {
            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible)
                e.dataSeries.visible = false;
            else 
                e.dataSeries.visible = true;
            gananciaNetaPorMes.render();
        }

    });

    function CreateArray(infoArray)
    {
        var datapoint = [
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 },
            { x: new Date(2017, 00, 1), y: 02 }
        ]

        for (var i = 0; i < infoArray.length; i++)
        {
            datapoint[i].x = new Date(infoArray.Year, infoArray.Month, infoArray.Day);
            datapoint[i].y = infoArray.info;
        }
        return datapoint;
    }



 </script>