<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Calendar.BaseUrl" value="https://demo7268872.mockable.io/sua/" />
    <add key="Calendar.Key" value="calendar/key" />
    <add key="Calendar.IDs" value="calendars" />
    <add key="Calendar.Credentials" value="credentials" />
    <add key="CalendarsFullUrl" value="https://demo7268872.mockable.io/sua/calendars" />
    <add key="EmailCredentials" value="emailcredentials " />
    <add key="MyUrl" value="http://c721.cloud.wiroos.net" />
    <add key="enviroment" value="prod" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
