
@{
    Layout = null;
}

<html>
<head>
    <title>@ViewBag.show</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/votacion/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/votacion/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">



        <section id="main">
            <header>
                <h1>Resultado</h1>
                <p style="color:deeppink">@ViewBag.mensaje</p>
            </header>

            <footer>
                <ul class="icons">
                    <li><a href="https://twitter.com/StandupAR" class="fa-twitter">Twitter</a></li>
                    <li><a href="https://www.instagram.com/standupargentina/" class="fa-instagram">Instagram</a></li>
                    <li><a href="https://www.facebook.com/standuparg/" class="fa-facebook">Facebook</a></li>
                </ul>
            </footer>
        </section>

        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Stand Up Argentina</li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script>
        if ('addEventListener' in window) {
            window.addEventListener('load', function () { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
            document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
    </script>

</body>
</html>