
@{
    Layout = null;
}

<html>
<head>
    <title>@ViewBag.show</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/votacion/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/votacion/assets/css/noscript.css" /></noscript>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var ciudades = @Html.Raw(Json.Encode(@ViewBag.ciudades));
              $("#ciudad").autocomplete({
                  source: ciudades
              });
          });
    </script>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">



    <section id="main">
        <header>
            <span class="avatar"><img src="~/assets/votacion/images/@ViewBag.image" .jpg alt="" /></span>
            <h1>@ViewBag.show</h1>
            <p>Votá tu ciudad!!</p>
        </header>

        <form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <input name="ciudad" id="ciudad" type="text" placeholder="ciudad" />
                </div>
                <div class="field">
                    <input type="text" name="name" id="name" placeholder="nombre" />
                </div>
                <div class="field">
                    <input type="tel" name="tel" id="tel" placeholder="tel" style="height:2.75em" />
                </div>
                <div class="field">
                    <input type="email" name="email" id="email" placeholder="email" />
                </div>


                <div class="field">
                    <input type="checkbox" id="human" name="human" /><label for="human">Recibir notificaciones</label>
                </div>

            </div>
            <ul class="actions special">
                <li><a href="#" class="button">VOTAR</a></li>
            </ul>
        </form>
        <hr />
        <footer>
            <ul class="icons">
                <li><a href="#" class="fa-twitter">Twitter</a></li>
                <li><a href="#" class="fa-instagram">Instagram</a></li>
                <li><a href="#" class="fa-facebook">Facebook</a></li>
            </ul>
        </footer>
    </section>

        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Stand Up Argentina</li>  
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
    </script>

</body>
</html>