
@{
    Layout = null;
}

<html>
<head>
    <title>@ViewBag.show</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/votacion/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/votacion/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main">
            <header>
                <span class="avatar"><img src="~/assets/votacion/images/@ViewBag.image".jpg alt="" /></span>
                <h1>@ViewBag.show</h1>
                <p>Votá tu ciudad!!</p>
            </header>

            <form method="post" action="#">
                <div class="fields">
                    <div class="field">
                        <input type="text" name="name" id="name" placeholder="nombre" />
                    </div>
                    <div class="field">
                        <input type="tel" name="tel" id="tel" placeholder="tel" />
                    </div>
                    <div class="field">
                        <select name="ciudad" id="ciudad">
                            <option value="">Ciudad</option>
                            <option value="sales">Sales</option>
                            <option value="tech">Tech Support</option>
                            <option value="null">/dev/null</option>
                        </select>

                        <datalist value="hola" id="browsers">
                            <option value="Chrome">
                            <option value="Firefox">
                            <option value="Internet Explorer">
                            <option value="Opera">
                            <option value="Safari">
                            <option value="Microsoft Edge">
                        </datalist>
                    </div>
                    <div class="field">
                        <textarea name="message" id="message" placeholder="mensaje" rows="4"></textarea>
                    </div>
                    <!--
                    <div class="field">
                        <input type="checkbox" id="human" name="human" /><label for="human">I'm a human</label>
                    </div>
                    <div class="field">
                        <label>But are you a robot?</label>
                        <input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label>
                        <input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label>
                    </div>
                        -->
                </div>
                <ul class="actions special">
                    <li><a href="#" class="button">VOTAR</a></li>
                </ul>
            </form>
            <hr />
            <footer>
                <ul class="icons">
                    <li><a href="#" class="fa-twitter">Twitter</a></li>
                    <li><a href="#" class="fa-instagram">Instagram</a></li>
                    <li><a href="#" class="fa-facebook">Facebook</a></li>
                </ul>
            </footer>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Stand Up Argentina</li>
                
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
    </script>

</body>
</html>