@{
    ViewBag.Title = "Inicio";
}


<div class="main-content">


    <div class="panel">
        <div class="panel-body" style="padding-left:130px; padding-right:130px; padding-top:50px; padding-bottom:60px">
            <div id='calendar'></div>
        </div>
    </div>



</div>
<script>

</script>
