@{
    ViewBag.Title = "Inicio";
}


<div class="main-content">


    <div class="panel">
        <div class="panel-body" style="padding-left:130px; padding-right:130px; padding-top:50px; padding-bottom:60px">
            <div id='calendar'></div>
        </div>
    </div>



</div>
<script>
    $(document).ready(function ()
    {
        var array = @Html.Raw(Json.Encode(@ViewBag.fechas));
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            eventSources: [
                {
                    events: array,
                    color: 'light-blue',
                    textColor: 'white'
                }
            ]
        });

    });
</script>
